div .container-home h2 {
    color: bisque;
    background-image: url(../../../Assets/img/fondoHome.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div.counter {
    text-align: center;
}

.homeText{
    font-size: 2rem;
    color: rgb(132, 113, 143);
}

.linkHome{
    font-size: 2rem;
    color: rgb(45, 14, 248);
}