div.divCardMap{margin: 1em;
    padding: 1em;
    float: left;
    align-items: start;
    width: 288px;
    height: 971px;
        
    }
    div.card {
        height : 625px;
    }
    
    .card-img, .card-img-top {
    width:255px ;
    height:303px;
    }
    
    div.card-body {
        height: 622px;
    }
    
    .card-text {
        height: 48px;
    }