div.nav-style {
  background-color: rgb(214, 199, 236);
}

h1 {
  margin-right: 54px;
  color: bisque;
}
.navbar-brand {
  margin-right: 58px;
}
.logo {
  width: 6rem;
  height: 6rem;
}

.navstyle {
  color: rgb(229, 202, 241);
}
nav.navbar {
  background-color: rgb(214, 199, 236);
}
