p.descripcionText.card-text {
  height: 24px;
}
p.headerP {
  color: black;
  font-size: 20px;
}
div.headerInicio {
  background-image: url(../../../../Assets/img/corn\ fondo.jpg);
}

p.iListCtext {
  font-size: 25px;
  color: rgb(208, 172, 241);
}

footer {
  margin-top: -11851px;
}
